<svg class="sprite-iconos" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <symbol id="ico-tablero" viewBox="0 0 24 24"><rect x="3" y="3" width="7" height="8" rx="1.5"/><rect x="14" y="3" width="7" height="5" rx="1.5"/><rect x="14" y="11" width="7" height="10" rx="1.5"/><rect x="3" y="14" width="7" height="7" rx="1.5"/></symbol>
    <symbol id="ico-lista-check" viewBox="0 0 24 24"><path d="M4 7l2 2 3-3"/><path d="M4 17l2 2 3-3"/><path d="M13 8h7"/><path d="M13 18h7"/></symbol>
    <symbol id="ico-telefono" viewBox="0 0 24 24"><path d="M6.5 3.5h3l1.5 4-2 1.5a12 12 0 0 0 6 6l1.5-2 4 1.5v3a2 2 0 0 1-2.2 2A17 17 0 0 1 4.5 5.7 2 2 0 0 1 6.5 3.5z"/></symbol>
    <symbol id="ico-actividad" viewBox="0 0 24 24"><path d="M3 12h3.5l2.5-7 4 14 2.5-7H21"/></symbol>
    <symbol id="ico-desvio" viewBox="0 0 24 24"><path d="M4 17h5l7-10h4"/><path d="M17 4l3 3-3 3"/><path d="M4 7h4"/></symbol>
    <symbol id="ico-flujo" viewBox="0 0 24 24"><rect x="8" y="3" width="8" height="5" rx="1.5"/><rect x="3" y="16" width="7" height="5" rx="1.5"/><rect x="14" y="16" width="7" height="5" rx="1.5"/><path d="M12 8v4M6.5 16v-4h11v4"/></symbol>
    <symbol id="ico-chispa" viewBox="0 0 24 24"><path d="M12 3l1.8 4.7L18.5 9.5l-4.7 1.8L12 16l-1.8-4.7L5.5 9.5l4.7-1.8z"/><path d="M18 16l.9 2.1 2.1.9-2.1.9L18 22l-.9-2.1-2.1-.9 2.1-.9z"/></symbol>
    <symbol id="ico-libro" viewBox="0 0 24 24"><path d="M4 4.5A1.5 1.5 0 0 1 5.5 3H19v15H5.5A1.5 1.5 0 0 0 4 19.5z"/><path d="M4 19.5A1.5 1.5 0 0 1 5.5 18H19v3H5.5A1.5 1.5 0 0 1 4 19.5z"/><path d="M8 7.5h7"/></symbol>
    <symbol id="ico-llave" viewBox="0 0 24 24"><circle cx="8" cy="8" r="4"/><path d="M11 11l9 9"/><path d="M17 17l2-2"/><path d="M14 14l2-2"/></symbol>
    <symbol id="ico-grafico" viewBox="0 0 24 24"><path d="M4 20V4"/><path d="M4 20h16"/><rect x="7" y="12" width="3" height="5" rx="1"/><rect x="12" y="8" width="3" height="9" rx="1"/><rect x="17" y="5" width="3" height="12" rx="1"/></symbol>
    <symbol id="ico-microfono" viewBox="0 0 24 24"><rect x="9" y="3" width="6" height="10" rx="3"/><path d="M5 11a7 7 0 0 0 14 0"/><path d="M12 18v3"/></symbol>
    <symbol id="ico-nube" viewBox="0 0 24 24"><path d="M7 18a4 4 0 0 1-.4-8A6 6 0 0 1 18 10.5a3.75 3.75 0 0 1-.5 7.5z"/></symbol>
    <symbol id="ico-hash" viewBox="0 0 24 24"><path d="M9 4L7.5 20"/><path d="M16.5 4L15 20"/><path d="M4 9h16"/><path d="M3.5 15h16"/></symbol>
    <symbol id="ico-persona" viewBox="0 0 24 24"><circle cx="12" cy="8" r="3.5"/><path d="M5 20a7 7 0 0 1 14 0"/></symbol>
    <symbol id="ico-personas" viewBox="0 0 24 24"><circle cx="9" cy="8" r="3.2"/><path d="M3 19a6 6 0 0 1 12 0"/><path d="M16 5.5a3.2 3.2 0 0 1 0 6.2"/><path d="M17.5 19a6 6 0 0 0-2-4.3"/></symbol>
    <symbol id="ico-edificio" viewBox="0 0 24 24"><rect x="4" y="3" width="11" height="18" rx="1.5"/><path d="M15 9h4.5A1.5 1.5 0 0 1 21 10.5V21"/><path d="M8 7h3M8 11h3M8 15h3"/><path d="M18 13h.01M18 17h.01"/></symbol>
    <symbol id="ico-engranaje" viewBox="0 0 24 24"><circle cx="12" cy="12" r="2.8"/><path d="M12 2.6l1.5 1.9 2.4-.6.6 2.4 2.3 1-1 2.3 1.6 1.9-1.6 1.9 1 2.3-2.3 1-.6 2.4-2.4-.6L12 21.4l-1.5-1.9-2.4.6-.6-2.4-2.3-1 1-2.3L4.6 12l1.6-1.9-1-2.3 2.3-1 .6-2.4 2.4.6z"/></symbol>
    <symbol id="ico-escudo" viewBox="0 0 24 24"><path d="M12 3l7 3v5.5c0 4.4-2.9 8.2-7 9.5-4.1-1.3-7-5.1-7-9.5V6z"/><path d="M9.5 12l1.8 1.8L15 10"/></symbol>
    <symbol id="ico-cuadricula" viewBox="0 0 24 24"><rect x="3.5" y="3.5" width="7" height="7" rx="1.5"/><rect x="13.5" y="3.5" width="7" height="7" rx="1.5"/><rect x="3.5" y="13.5" width="7" height="7" rx="1.5"/><rect x="13.5" y="13.5" width="7" height="7" rx="1.5"/></symbol>
    <symbol id="ico-lista" viewBox="0 0 24 24"><path d="M4 6.5h3M4 12h3M4 17.5h3"/><path d="M10 6.5h10M10 12h10M10 17.5h10"/></symbol>
    <symbol id="ico-historial" viewBox="0 0 24 24"><path d="M4 12a8 8 0 1 0 2.5-5.8"/><path d="M4 4v4h4"/><path d="M12 8v4.5l3 1.8"/></symbol>
    <symbol id="ico-documento" viewBox="0 0 24 24"><path d="M6 3h7l5 5v13H6z"/><path d="M13 3v5h5"/><path d="M9 13h6M9 17h6"/></symbol>
    <symbol id="ico-ayuda" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9"/><path d="M9.6 9.5a2.5 2.5 0 1 1 3.3 2.4c-.6.2-.9.7-.9 1.3v.4"/><path d="M12 17h.01"/></symbol>
    <symbol id="ico-menu" viewBox="0 0 24 24"><path d="M4 7h16M4 12h16M4 17h16"/></symbol>
    <symbol id="ico-chevron" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"/></symbol>
</svg>
